body{
  margin: 0;
  color:white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.button{
  padding: 6px 12px;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button:hover{
  opacity: 0.5;
}
.underline{
  border-bottom: 4px solid;
}

#main-logo{
  width: 100px;
  text-shadow: -5px 5px 0px black;
}
#hero{
  background-image: url("images/space1.jpg") ;
  background-size: cover;
  padding: 10px 0 40px 0;
  text-shadow: -5px 5px 0px black;
}
.terms{
  color: black;
}